@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.categories-nav {
  background-color: $blue;
  border-radius: 2rem;
  color: $white;
  font-size: $smallFont;

  .mainContainer,
  .list {
    @include flexCenter;
    .category {
      cursor: pointer;
      padding: 0.8rem 2rem;

      border: 0.1rem solid $primary;
      border-top: none;
      border-bottom: none;

      &:hover {
        background-color: $secondary;
      }
      @include mQ(477px) {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
