@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

body {
  .navbarContainer {
    position: sticky;
    z-index: 200;
    top: 0px;
  }
  nav {
    color: $blue;

    .search-nav {
      padding: 2rem 0;
      background-color: white;
      @include flexBet;
      & > span {
        align-self: center;
      }
      @include mQ(700px) {
        & > span {
          margin-bottom: 1rem;
        }
      }
      @include mQ(477px) {
        justify-content: center;
        .search-form {
          margin-bottom: 1rem;
        }
      }
      .logo-container {
        @include flexCenter;
        svg {
          margin-right: 2rem;
        }
      }

      .search-form {
        @include flexCenter;
        border: 0.1rem solid $blue;
        border-radius: 3rem;

        .search {
          width: 20vw;
          border-right: 1px solid $lightGray;
          font-size: $smallFont;
          padding: 0.4rem 1.2rem;
        }
        .search-category {
          position: relative;
          padding-left: 1rem;
          margin-right: 1rem;
          cursor: pointer !important;
          padding: 0.4rem 1.2rem;

          select {
            border: 0.1rem solid white;
            color: $secondary;
            font-size: $smallFont;
            margin-right: 2rem;
            cursor: pointer !important;
            box-shadow: none !important;
          }
          .dropdown-arrow {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 6px solid $secondary;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
          }
        }
        button {
          height: 100%;
          background-color: $secondary;
          color: white;
          padding: 0.4rem 1.2rem;
          border-radius: 0px 3rem 3rem 0px;
        }
      }
      .icons-wrapper {
        color: $mediumGray;
        @include flexCenter;
        cursor: pointer;

        svg:not(:last-of-type) {
          margin-right: 2rem;
        }
        span {
          font-size: $smallFont;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
