@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.head{
    background-color: #0035660F;
    padding: 2rem;
}
.categories-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // border-radius: 1rem;
   
    padding: 3rem;
}
h3 {
    text-decoration: underline;
    text-decoration-color: $primary;
  
  }
  .topProductContainer{
    position: relative;
   // text-align: left;
  }
  .topProdutName{
    text-transform: uppercase;
    position: absolute;
    font-size:  3rem ;
    top: 8rem;
    left: 10rem;
    color: $darkGray;
  }
  .orangeBtn{
    position: absolute;
    background-color: $secondary;
    border-radius: 2.5rem;
    color: $white;
    width: 7rem;
    height: 3rem;
    font-size: small;
    top: 18rem;
    left: 10rem;
  }
.productImage{
  width: 100%;
  height: 25rem;
}
  .card{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30rem;
    height: 30rem;
    margin: 3rem;
    border: 0.1rem solid $white;
    border-radius: 3rem;
    &:hover{
        border: 0.1rem solid $primary;
    }
   // padding: 3rem;
  }
  .categories-name
  {
font-size: small;
font-weight: bold;
color: $darkGray;
  }