@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.breadcrumb {
  li {
    text-transform: capitalize;
    &:not(:last-child) {
      cursor: pointer;
    }
    @include mQ(675px) {
      font-size: $smallFont;
    }
  }
}
.product-choose-wrapper {
  @include flexAround;
  flex-wrap: wrap;
}
.prodChoose {
  text-align: center;
  width: 10%;
  @include mQ(527px) {
    width: 100%;
  }
  img.selected {
    border: 1px solid $primary;
  }
  img {
    height: 8.7rem;
    width: 7rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    transition: 0.3s;

    @include mQ(337px) {
      height: 6rem;
      width: 5rem;
    }
  }
}
// .catHeadWrap,
// .catSlideWrap {
//   position: relative;
//   margin-top: 4rem;
//   margin-bottom: 8rem;
// }
// .categoriesHead {
//   border: 2px solid $SefbroGlobal;
//   padding: 2rem 1rem;
//   padding-bottom: 0rem;
//   margin: 2rem 0px;
//   overflow: scroll;

//   @include grid(1rem, 40rem, 10rem);
//   @include mQ(443.2px) {
//     @include grid(1rem, 20rem, 10rem);
//   }

//   .catHeadItem {
//     cursor: pointer;
//     @include flexCenter;
//     position: relative;
//     &:hover {
//       a {
//         transform: scaleY(1.2);
//         font-size: $SHeadFont;
//       }
//     }
//   }
//   a {
//     position: absolute;
//     bottom: 0px;
//     width: 100%;
//     padding: 2rem;
//     font-size: $SmallFont;
//     transition: 0.3s;
//     transform-origin: bottom left;

//     &:hover {
//       transform: scaleY(1.2);
//       font-size: $SHeadFont;
//     }
//   }
// }

// .catSlider {
//   border: 2px solid $SefbroGlobal;
//   padding: 2rem 2rem;
//   margin: 2rem 0px;
//   height: 30rem;
//   @include flexBet;

//   overflow: hidden;
//   @include mQ(800px) {
//     overflow-x: scroll;
//     &::-webkit-scrollbar {
//       height: 1rem;
//     }
//     &::-webkit-scrollbar-thumb {
//       background: gray;
//       max-height: 10%;
//       border-radius: 10px;
//       height: 1rem;
//       display: none;
//     }

//     &:hover::-webkit-scrollbar-thumb {
//       display: block;
//     }
//   }

//   .catSlides {
//     @include flexBet;
//     .card {
//       margin: 0px 1rem;
//       .card-text {
//         color: $SefbroGlobal;
//       }
//     }
//   }
//   .btnLeft,
//   .btnRight {
//     position: absolute;
//     width: 50px;
//     padding: 1rem;
//     top: 50%;
//     transform: translateY(-50%);
//     font-size: $MediumFont;
//     text-align: center;
//     cursor: pointer;
//     transition: 0.3s;
//     color: $WhiteGlobal;
//     background: gray;
//     border-radius: 50%;
//     &:hover {
//       background: $SefbroGlobal;
//     }
//     @include mQ(800px) {
//       display: none;
//     }
//   }

//   .btnLeft {
//     left: -2rem;
//   }

//   .btnRight {
//     right: -2rem;
//   }
// }

// .subCategories {
//   border: 2px solid $SefbroGlobal;
//   padding: 2rem 2rem;
//   margin: 2rem 0px;
//   overflow: scroll;
//   @include flexAround;
//   flex-wrap: wrap;
//   .card {
//     margin: 2em;
//     width: 20rem;
//     .card-img-top {
//       height: 20rem;
//     }
//     @include mQ(767.2px) {
//       width: 40rem;
//     }
//   }
// }

// #img-container {
//   width: 35%;
//   @include mQ(1200px) {
//     width: 40rem;
//     height: 46.8rem;
//   }
//   @include mQ(890px) {
//     width: 50%;
//   }
//   @include mQ(768px) {
//     width: 70%;
//   }
//   @include mQ(540px) {
//     margin: 1rem;
//     width: 40rem;
//   }
//   @include mQ(360px) {
//     margin: 1rem;
//     width: 30rem;
//   }
// }

// .productDetails {
//   position: relative;
//   margin-left: 2rem;
//   width: 50%;
//   @include mQ(991.9px) {
//     width: 100%;
//   }

//   h3 {
//     margin-bottom: 5rem;
//     margin-top: 1rem;
//     @include mQ(500px) {
//       font-size: $SmallFont;
//     }
//   }
//   .subDetail {
//     display: inline-block;
//     align-items: center;
//     margin: 0 3rem;
//     @include mQ(1900px, 1999.9px) {
//       height: 27rem;
//     }
//     @include mQ(1999.9px) {
//       &:nth-last-of-type(2) {
//         margin-bottom: 10rem;
//       }
//     }
//   }
//   h5 {
//     font-size: $SmallFont;
//     margin: 5rem 0px;

//     @include mQ(500px) {
//       font-size: $InfoFont;
//     }
//     @include mQ(433px) {
//       margin: 2rem 0px;
//     }
//     span {
//       color: $SefbroGlobal;
//     }
//   }
//   .reqWrap {
//     position: absolute;
//     width: 100%;
//     bottom: 0;
//     // @include mQ(1999.9px, 510px) {
//     //   top: 29rem;
//     // }
//     // @include mQ(509.9px, 501px) {
//     //   top: 56rem;
//     // }
//     // @include mQ(499px) {
//     //   bottom: -2rem;
//     // }
//     // @include mQ(435px) {
//     //   bottom: -5rem;
//     // }
//   }
//   button {
//     margin: 0;
//     i {
//       margin-right: 1rem;
//     }
//   }
// }

// .des {
//   margin: 3rem 0px;
//   h4 {
//     font-size: $SmallFont;
//     margin: 1rem 0px;
//     color: $SefbroGlobal;
//   }
//   p {
//     font-size: $InfoFont;
//   }
// }
// .pop {
//   background: $GrayGlobal;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 99999;
//   padding-top: 6rem;
//   padding-bottom: 2rem;
//   text-align: center;
//   color: $SefbroGlobal;

//   @include mQ(1100px) {
//     width: 70%;
//   }
//   @include mQ(720px) {
//     form {
//       width: 100%;
//     }
//   }

//   h3 {
//     display: block;
//     margin-bottom: 2rem;
//   }

//   .data {
//     color: $WhiteGlobal;
//   }
//   span {
//     font-size: $InfoFont;
//     margin: 1rem;
//   }
//   .dataWrap {
//     @include flexCenter;
//     flex-wrap: wrap;
//   }
//   .error {
//     text-align: left;
//     margin-left: 14rem;
//     @include mQ(842px) {
//       margin-left: 10rem;
//     }
//     @include mQ(400px) {
//       margin-left: 6rem;
//     }
//   }
//   .cancel,
//   button[type="submit"] {
//     margin: 1rem 8rem;
//     @include mQ(720px) {
//       width: 62%;
//     }
//   }
//   @include mQ(1300px) {
//     #submitFoot {
//       @include flexAround;
//       @include mQ(720px) {
//         flex-wrap: wrap;
//       }
//     }
//   }
//   .cancel {
//     color: $SefbroGlobal;
//     background-color: $GrayGlobal;
//     border: 1px solid $SefbroGlobal;

//     @include mQ(720px) {
//       position: relative;
//       bottom: -6.5rem;
//     }
//   }
//   button[type="submit"] {
//     @include mQ(720px) {
//       position: relative;
//       top: -6.5rem;
//     }
//   }
// }

// #popup,
// #successPop {
//   display: none;
// }

// #successPop {
//   padding: 3rem;
//   width: 40%;
//   @include mQ(1250px) {
//     width: 70%;
//   }

//   @include mQ(930px) {
//     width: 90%;
//   }
//   h3 {
//     margin: 4rem;
//   }
//   p {
//     font-size: $SHeadFont;
//   }
//   button {
//     margin-top: 5rem;
//   }
// }

// .card {
//   height: 26rem;
//   cursor: pointer;
//   .card-img-top {
//     height: 18rem;
//   }
// }

// .colWrap {
//   display: inline-block;
//   .colCont {
//     width: 30px;
//     height: 30px;
//     border: 1px solid black;
//     border-radius: 12px;
//     margin: 0 1rem;
//     position: relative;
//     top: 0.5rem;
//   }
//   .cerCont {
//     width: 40px;
//     height: 40px;
//     margin: 0 0.5rem;
//     img {
//       display: inline-block;
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
// .price {
//   width: 85%;
//   display: block;
//   text-align: center;
//   font-size: $SHeadFont;
//   font-weight: 600;
// }
