@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.breadcrumb {
  li {
    text-transform: capitalize;
    &:not(:last-child) {
      cursor: pointer;
    }
    @include mQ(675px) {
      font-size: $smallFont;
    }
  }
}
.product-choose-wrapper {
  @include flexBet;
  flex-wrap: wrap;

  .iiz__img {
    height: 40rem;
  }
  .product-choose {
    @include flexCenter;
    @include mQ(527px) {
      width: 100%;
    }
    img.selected {
      border: 1px solid $primary;
      border-radius: 4px;
    }
    img {
      padding: 0.2rem 0.5rem;
      height: 6rem;
      width: 6rem;
      margin: 1rem 0.5rem;
      cursor: pointer;
      transition: 0.3s;

      @include mQ(337px) {
        height: 6rem;
        width: 5rem;
      }
    }
  }

  .product-details {
    h6 {
      font-size: $smallFont;
      color: $mediumGray;
      span {
        text-transform: capitalize;
      }
    }
    h2 {
      font-size: $HeadFont;
      color: $primary;
      font-weight: 500;
    }
    .rate-average {
      color: $darkGray;
      font-size: 1.4rem;
      margin: 0 0.8rem;
    }
    .rate-quantity {
      color: $mediumGray;
      font-size: 1.4rem;
    }
    .brand {
      color: $lightGray;
      font-size: 4rem;
      font-weight: 900;
    }
    .color {
      width: 36px;
      height: 36px;
      border: 2px solid $lightGray;
      border-radius: 5px;
      margin-right: 1rem;
      cursor: pointer;
      @include flexCenter;
    }
  }
}
