@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.search-container {
  .filtration {
    .filter-card {
      border: 1px solid $light-border-color;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
      border-radius: 6px;
      text-transform: capitalize;
      color: $mediumGray;
      .rc-slider-handle {
        border: 2px solid $blue;
      }
      .rc-slider-track,
      .rc-slider-tracks {
        background-color: $blue;
      }
      h3 {
        color: $darkGray;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.6;
      }
      .selected {
        color: $darkGray;
        font-weight: 600;
      }
      h4 {
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        &:hover {
          color: $darkGray;
          font-weight: 600;
        }
      }
      input[type="checkbox"] {
        margin-right: 1rem;
        margin-top: 0;
        box-shadow: none;
        cursor: pointer;
      }
    }
    .categories {
      background-color: $light-border-color;
    }
  }
  .products-container {
    padding-left: 1rem;
    .info-wrapper {
      border: 1px solid $light-border-color;
      padding: 1rem;
      margin-bottom: 1.5rem;
      border-radius: 6px;
      hr {
        color: $lightGray;
      }
      font-size: $smallFont;
      h1 {
        font-size: $HeadFont;
        font-weight: 600;
      }
      h3,
      h1 {
        color: $darkGray;
      }
      label {
        color: $mediumGray;
        position: relative;
        .form-control {
          cursor: pointer;
          border: 1px solid $light-border-color;
          font-size: $smallFont;
          padding: 1rem 3rem;
          border-radius: 3rem;
        }
        .dropdown-arrow {
          right: 15px;
          border-top: 6px solid $mediumGray;
        }
      }
    }
  }
}
