@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

.wishlist-container {
  border: 1px solid rgba(0, 53, 102, 0.51);
  border-radius: 22px;
  padding: 1.5rem 3rem;
  .product-details {
    margin-left: 2rem;
    h6 {
      font-size: $smallFont;
      color: $mediumGray;
      span {
        text-transform: capitalize;
      }
    }
    h2 {
      font-size: $HeadFont;
      color: $primary;
      font-weight: 500;
    }

    .brand {
      color: $lightGray;
      font-size: 4rem;
      font-weight: 900;
    }
    .color {
      width: 36px;
      height: 36px;
      border: 2px solid $lightGray;
      border-radius: 5px;
      margin-right: 1rem;
      cursor: pointer;
      @include flexCenter;
    }
  }
}
