// colors
$primary: #0077E4;
$secondary: #FF6000;
$white:#FFFFFF;
$blue:#003566;

$lightGray: #EEF0F4;
$mediumGray: #586A84;
$darkGray:#1D232C;


// Typography Start
// Font sizes
$GlobalFont: 14px;
$HeadFont: 24px;
$MediumFont: 18px;
$smallFont: 12px;

// Line Heights
$HeadLineSpacing: 2.8rem;
$MediumLineSpacing: 2.2rem;
$smallLineSpacing: 1.5rem;

//Typography End

//shadow
$globalShadow: 0px 0px 1.5px $lightGray;

$globalRadius: 22.5px;
