@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

body {
  .btn--wishlist {
    border-radius: 2.4rem;
    border: 1px solid $mediumGray;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    color: $mediumGray;
  }
  .btn--cart {
    background-color: $secondary;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    border-radius: 2.8rem;
    @include mQ(678px) {
      font-size: $smallFont;
    }
  }
  .btn--bidding {
    background-color: $blue;
    @include flexCenter;
    width: fit-content;
  }
  .btn--primary {
    padding: 1rem 4rem;
    border-radius: 2.4rem;
    color: white;
    background-color: $primary;
    font-size: 1.4rem;
  }
  .btn--card {
    background-color: $lightGray;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .btn--incart {
    background-color: $secondary;
  }
  button {
    &:disabled {
      cursor: auto;
    }
  }
}
