@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.text--global,
.css-13cymwt-control,
.css-qbdosj-Input {
  font-size: $smallFont;
  @include placeholder-color(#bdc1caff);
}

.text--global {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.9rem;
}

.text--input {
  border: 1px solid $blue;
}

.text--area {
  height: 10rem;
  &::-webkit-resizer {
    display: none;
  }
}

.text--secondary {
  border: 1px solid $secondary;
}
