@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Roboto&display=swap");

@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";
@import "./Layout/Navbar.scss";
@import "./Layout/Footer.scss";
@import "./Layout/CategoriesNav.scss";
@import "./components/Spinner.scss";
@import "./components/button.scss";
@import "./components/label.scss";
@import "./components/textInput.scss";
@import "./components/radio.scss";
@import "./components/forms.scss";
@import "./components/tabs.scss";
@import "./components/rating.scss";
@import "./components/modal.scss";

@import "./pages/index.scss";
@import "./pages/notfound.scss";
@import "./pages/products.scss";

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: transparent;
  padding: 0;
  margin: 0;
}

html {
  //typography
  font-size: $GlobalFont;

  body {
    font-family: "Roboto", sans-serif;

    overflow-x: hidden;

    .breadcrumb {
      font-size: 1.4rem;
      color: $mediumGray;
    }
    main {
      min-height: 40.5vh;
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 6px;
    }

    pre {
      font-family: "Inter", sans-serif;
      white-space: pre-wrap; /* Since CSS 2.1 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      margin-bottom: 0;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      &:hover {
        color: inherit;
      }
    }

    .invisible {
      display: none;
    }
    .invalid {
      color: red;
    }
    .mainContainer {
      width: 82.39%;
      @include mQ(1300px) {
        width: 88.39%;
      }
      @include mQ(992px) {
        width: 90%;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    input,
    select,
    textarea,
    button,
    datalist {
      border: none;
      background: none;
    }

    input::-webkit-calendar-picker-indicator {
      display: none !important;
    }

    button {
      cursor: pointer;
    }
    .dropdown-arrow {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 6px solid $secondary;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
}
